# Practical session 1 - Some Python basics

Students (pair):
- [Student 1]([link](https://github.com/username1))
- [Student 2]([link](https://github.com/username2))

```
conda create --name=lab1 --file=requirement.txt 
conda activate lab1
# do not forget to deactivate the environment if needed
# you can remove the environment once you are done
conda env remove --name=lab1
```

In [1]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [21]:
import numpy as np
import string

## Reserved keywords

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [1]:
4**8

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [7]:
print(f"quotient: {17//3} and remainder: {17%3}")

quotient: 5 and remainder: 2

Create two integer variables `a, b` of your choice and swap their content.

In [2]:
a, b = 5, 8
b, a = a, b 

print(f"a : {a}, b: {b}")

a : 8, b: 5

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [16]:
print(f"initial a: {a}")
a = 2* a
print(f"new value of a: {a}")

initial a: 8
new value of a: 16

Define a complex number `z` object and print it as

`(real=z.real, imag=z.imaginary)`

In [19]:
z = complex(4,8)
real = z.real
imag = z.imag
print(f"real : {real}, imaginary : {imag}")

real : 4.0, imaginary : 8.0

## Strings

Propose two ways to define an empty string

In [20]:
str1= ""
str2=str()
print(f"option 1 : {str1}, option 2: {str2}")

option 1 : , option 2:

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [32]:
alphabet = string.ascii_lowercase
print(alphabet)
print(f"12th letter is {alphabet[11]}") # We need to be careful with the index starting at 0 and not 1
print(f"10 last letters are {alphabet[-10:]}")
print(f"5th to 10th letters are {alphabet[4:9]}") 
ALPHABET = str.upper(alphabet)
print(ALPHABET)

abcdefghijklmnopqrstuvwxyz
12th letter is l
10 last letters are qrstuvwxyz
5th to 10th letters are efghi
ABCDEFGHIJKLMNOPQRSTUVWXYZ

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [37]:
x = 2341324530045968
x =str(x)
int(x[:4])

2341

## Lists

Propose two ways to define an empty list.

In [41]:
L1 = []
L2 = list()
L1,L2

([], [])

Create the list of consecutive integers from 5 to 11.

In [43]:
L = [i for i in range (5,12)]
L

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [44]:
L.append(100)

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [4]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]

In [6]:
print(x[2][1][2][0][::-1])

aids

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [11]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

In [98]:
print(f"first 2 items {x[:2]}")
print(f"last 2 items {x[-2:]}")

first 2 items [3, 7]
last 2 items [3, 1]

In [99]:
print(f"Index of first occurence of 9 {x.index(9)}")

Index of first occurence of 9 11

In [12]:
list_odd = [x[i] for i,_ in enumerate(x) if i%2==1]
list_odd2 = x[1::2]
print(f"items located at odd indices {list_odd}")
print(f"items located at odd indices {list_odd2}")

items located at od indices [7, 3, 6, 8, 7, 9, 4, 7, 9, 0, 9, 9, 1, 0, 5, 8, 9, 5, 9, 6, 8, 2, 9, 2, 1]
items located at od indices [7, 3, 6, 8, 7, 9, 4, 7, 9, 0, 9, 9, 1, 0, 5, 8, 9, 5, 9, 6, 8, 2, 9, 2, 1]

In [105]:
reversed_list = x[::-1]
np.array(reversed_list)

array([1, 3, 2, 2, 9, 4, 2, 5, 8, 2, 6, 5, 9, 4, 5, 5, 9, 9, 8, 5, 5, 5,
       0, 4, 1, 3, 9, 0, 9, 0, 0, 5, 9, 0, 7, 2, 4, 3, 9, 3, 7, 0, 8, 8,
       6, 8, 3, 5, 7, 3])

In [106]:
""""
def update_power_3(L,pow_3):
    if type(L)==list:
        intermed = []
        for i in range (len(L)):
            update_power_3(L[i],intermed)
        pow_3.append(intermed)
    else: 
        if type(L)==int:
            pow_3.append(L**3)
        else: 
            pow_3.append(L)

In [110]:
pow_3 = []
#update_power_3(x,pow_3)
np.array([i**3 for i in x])

array([ 27, 343, 125,  27, 512, 216, 512, 512,   0, 343,  27, 729,  27,
        64,   8, 343,   0, 729, 125,   0,   0, 729,   0, 729,  27,   1,
        64,   0, 125, 125, 125, 512, 729, 729, 125, 125,  64, 729, 125,
       216,   8, 512, 125,   8,  64, 729,   8,   8,  27,   1])

## Tuples


Propose two ways to define an empty tuple.

In [96]:
tup1 = ()
tup2 = tuple()
tup1, tup2

((), ())

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

In [15]:
x = ([1, 2, 3], 4)

In [16]:
x[1]= 8
x

TypeError: 'tuple' object does not support item assignment

In [17]:
x[0][1] = x[0][1]**5
x

([1, 32, 3], 4)

What is the main difference between a list and a tuple?

Lists are mutable while tuples are immutable

## Sets

Create an empty set

In [18]:
emptySet = set()
print(type(emptySet))

<class 'set'>

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [22]:
A = {1, 2, 3}
B = {2, 4, 5, 6}
print(A.intersection(B))

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [25]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

In [29]:
x |= {3, 5, 6}
print (x)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10}

In [30]:
x -= {1, 2, 3}
print (x)

{0, 5, 6, 7, 8, 9, 10}

In [32]:
test = {1, 2, 4, 5, 6, 10}
if x in test:
    print('is contained')
else:
    print('not contained')

not contained

## Dictionnaries

Propose two ways to define an empty dictionary

In [119]:
d1 = {}
d2 = dict()

d1,d2

({}, {})

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [120]:
d1 = {"a":1,
      "b":3,
      "c":5,
      "d": 7}
d2 =  dict(a=1, b=3, c=5, d=7)
key_value_pairs = [("a", 1), ("b", 3), ("c", 5), ("d", 7)]
d3 = dict(key_value_pairs)

d1, d2, d3

({'a': 1, 'b': 3, 'c': 5, 'd': 7},
 {'a': 1, 'b': 3, 'c': 5, 'd': 7},
 {'a': 1, 'b': 3, 'c': 5, 'd': 7})

Given the following dictionary, use indexing to get to the word `"sdia"`

In [33]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [40]:
print(d["outer"][3]["inner"][3]["inner_inner"][3])

sdia

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [41]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

In [42]:
# Create a list of keys
keys_list = list(d1.keys())

print("List of keys:", keys_list)

List of keys: [(0, 1), 'e', 1, None]

In [ ]:
# Create a list of values
values_list = list(d1.values())

print("List of values:", values_list)

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [47]:
odd = [*range(1, 30, 2)]
odd1 = [i for i in range(30) if i%2==1]
print(odd, odd1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [51]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

In [52]:
fiz = [a for a in x if a%5 == 0]
print(fiz)

[35, 20, 70]

In [54]:
buz = [b for b in x if b%7 == 0]
print(buz)

[35, 70, 49]

In [56]:
fizbuz = [c for c in x if c%7 == 0 and c%5 == 0]
print(fizbuz)

[35, 70]

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [63]:
course = "banane"
if course == "maths" : 
    print("That is very useful!")
elif course == "python" : 
    print("That is very useful!")
elif course == "meditation" : 
    print("How nice!")
elif course == "magic" : 
    print ("You're not at Hogwarts")
else:
    print("What is this COURSE ?")

What is this COURSE ?

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [68]:
quantity = 2
fruit = "avocado"
price = 1.8912392e4

In [70]:
formatted_price = "{:,.2f}".format(price)
if quantity > 1: 
    print(f'{quantity} {fruit}s cost {formatted_price}')
elif quantity ==1:
    print(f'{quantity} {fruit} costs {formatted_price}')

2 avocados cost 18,912.39

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [101]:
y = [1, 2, 4, 4]

def is_unique(list1):
    # this function scans the elements of the list, compares them with an initially empty list 
    # and adds them if they don't already belong to the list
    values =[]
    #verify that the argument of the function is a list of integer
    if isinstance(list1, list):
        # scan of the list in argument
        for element in list1: 
            if not isinstance(element, int):
                print("As a reminder, arg should be a list of integers")
                break
            else:
                #comparison to the list which contains the previous element
                if element not in values : 
                    #add new value to the comparative list
                    values.append(element)
                else : 
                    #if a doublon was founded
                    return False
                    
    else:
        print("As a reminder, arg* should be a list of integers")
    #if no doublon was founded
    return True

is_unique(y)

False

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```

In [116]:
# à chaque fois la dernière ligne à 2(X-1)+1 ou 2X -1

def triangle_shape(height):
    x = "x"
    if height == 0:
        return ""
    for i in range(1, height +1 ):
        print((height +1-i) * " ",(2*i-1) * x ,"\n")

triangle_shape(5)

      x

     xxx

    xxxxx

   xxxxxxx

  xxxxxxxxx